<p>cards works!</p>
<p>cardsdesign works!</p>

<div class="container">
  <div class="content">
    <mat-card>
      <mat-card-subtitle>Candidate Details</mat-card-subtitle>
      <hr>
      <div>
        <div>
          <p>Email</p>
          <!-- <p> {{ detail.candidate[0].email }}</p> -->
        </div>
      </div>
    </mat-card>
    <div class="flex">
      <mat-card style="width:25%;margin-right: 2%;">

      </mat-card>
      <mat-card style="width:25% ;margin-right: 2%;">

      </mat-card>
      <mat-card style="width:46%">

      </mat-card>
    </div>
  </div>
</div>
